<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywxiang.dao.DepartmentDao">
    <resultMap id="BaseResultMap" type="com.ywxiang.entity.Department">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="depPath" property="depPath" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="isParent" property="isParent" jdbcType="BIT"/>
    </resultMap>
    <resultMap id="DepartmentWithChildren" type="com.ywxiang.entity.Department" extends="BaseResultMap">
        <collection property="children" ofType="com.ywxiang.entity.Department"
                    select="org.javaboy.vhr.mapper.DepartmentMapper.getAllDepartmentsByParentId" column="id"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, parentId, depPath, enabled, isParent
    </sql>
    <select id="getAllDepartmentsWithOutChildren" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from department;
    </select>
</mapper>